* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

body {
  background-color: #f6f8fe;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 40px;
  background-color: #fff;
}

section {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 60px);
}

.logo {
  font-size: 28px;
  font-weight: 600;
}

.image {
  width: 580px;
  aspect-ratio: 1 / 1;

  img {
    width: 100%;
  }
}

.signup-form {
  padding: 100px 60px;
  width: 360px;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 0px 12px 24px rgba(170, 170, 170, 0.05);
  .title {
    font-size: 28px;
    padding-bottom: 40px;
    text-align: center;
  }

  .input-field {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    &:is(.warning) {
      .message {
        display: flex;
      }
    }
  }

  .message {
    display: none;
    align-items: center;
    color: #ef233c;
    font-size: 14px;
    svg {
      margin-right: 8px;
    }
  }

  .input-box {
    width: 100%;
    display: flex;
    margin: 8px 0;
    position: relative;
    svg {
      position: absolute;
      right: 15px;
      top: 13px;
      color: #8d99ae;
      cursor: pointer;
      &:hover {
        color: #5680e9;
      }
    }
  }

  input {
    width: 100%;
    padding: 16px 30px;
    color: #8d99ae;
    font-size: 14px;
    line-height: 14px;
    background-color: rgba(237, 242, 244, 0.4);
    border: 1px solid rgba(141, 153, 174, 0.4);
    border-radius: 8px;
  }

  .actions {
    margin-top: 20px;
  }

  .button {
    display: block;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background-color: #5680e9;
    border-radius: 8px;
    cursor: pointer;
  }

  .button:not(.disabled):hover {
    background-color: #6a90f0;
  }

  .disabled {
    background-color: #8d99ae;
    cursor: default;
  }
}
